<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkspaceUI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkspaceUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WorkspaceUI.Settings1>
            <setting name="workspaceOneBtn" serializeAs="String">
                <value />
            </setting>
            <setting name="W1" serializeAs="String">
                <value />
            </setting>
        </WorkspaceUI.Settings1>
    </applicationSettings>
    <userSettings>
        <WorkspaceUI.Settings>
            <setting name="workspaceOneBtn" serializeAs="String">
                <value>W1</value>
            </setting>
            <setting name="workspaceTwoBtn" serializeAs="String">
                <value>W2</value>
            </setting>
            <setting name="workspaceThreeBtn" serializeAs="String">
                <value>W3</value>
            </setting>
            <setting name="workspaceFourBtn" serializeAs="String">
                <value>W4</value>
            </setting>
            <setting name="workspaceFiveBtn" serializeAs="String">
                <value>W5</value>
            </setting>
            <setting name="W1SelectedAppName" serializeAs="String">
                <value>W1 App</value>
            </setting>
            <setting name="W1SelectedFileName" serializeAs="String">
                <value>W1 File</value>
            </setting>
            <setting name="W1SelectedFilePath" serializeAs="String">
                <value>W1 File Path</value>
            </setting>
            <setting name="W1SelectedAppPath" serializeAs="String">
                <value>W1 App Path</value>
            </setting>
            <setting name="W2SelectedAppName" serializeAs="String">
                <value>W2 App</value>
            </setting>
            <setting name="W2SelectedFileName" serializeAs="String">
                <value>W2 File</value>
            </setting>
            <setting name="W2SelectedFilePath" serializeAs="String">
                <value>W2 File Path</value>
            </setting>
            <setting name="W2SelectedAppPath" serializeAs="String">
                <value>W2 App Path</value>
            </setting>
            <setting name="W1WorkspaceItemsJsonString" serializeAs="String">
                <value />
            </setting>
            <setting name="W2WorkspaceItemsJsonString" serializeAs="String">
                <value />
            </setting>
        </WorkspaceUI.Settings>
    </userSettings>
</configuration>